anndata==0.11.4
colorama==0.4.6
dnaio==1.2.1
editdistance==0.8.1
Jinja2==3.1.4
joblib==1.4.2
loguru==0.7.2
matplotlib==3.10.1
numpy==2.2.5
pandas==2.2.3
plotly==5.22.0
polars==0.20.31
scanpy==1.11.1
scikit-learn==1.5.2
scipy==1.15.2
seaborn==0.13.2
tqdm==4.67.1
python-igraph==0.11.6
